@charset "utf-8";
	body {
	  font-family: Arial, sans-serif;
	  margin: 20px;
	  font-size: 8px;
	}
	
	label {
	  width: 60px; /* ラベルの固定幅 */
	  margin-right: 6px;
	  text-align: right;
      white-space: nowrap;
	  font-size: 8px;
	}
	
	input[type="text"], select, input[type="number"] {
	  flex: 1;
	  padding: 2px;
	  font-size: 8px;
	}
	
	button {
	  margin: 10px 10px 10px 10px;
	  padding: 5px 10px 5px 10px;
	  cursor: pointer;
      background-color: #EEEEff;
	  border-radius: 15px;
	  font-size: 8px;
	}
	
	input[readonly] {
	  background-color: #f0f0f0;
	  cursor: not-allowed;
	}

	.form-group {
	  display: flex;
	  align-items: center;
	  margin-bottom: 3px;
    max-width: 100%;
	}

	.tableHedder{
	  background-color: #aaddaa;
	}

	.trTotal{
	  font-weight: bold;
	}

	.titleLavel{
	  font-weight: bold;
	}

	.buttonPlusminusb{
		font-weight: bold;
		margin: 1px 3px 1px 3px;
		padding: 1px 3px 1px 3px;;
		font-size: 8px;
		border-radius: 13px;
		border-width: 1px;
	 }

    #dialog {
		width: 250px;
		padding: 30px 20px;
		text-align: center;
		border: 1px solid #aaa;
		box-shadow: 2px 2px 4px #888;
		position: absolute;
		top: 20%;
	}
  